*.user
*.suo
*.sdf
*.opensdf
*.opendb
*.VC.db
*.pubxml
Thumbs.db
bin
obj
Debug
Release
packages
*.ipch
.vs
.vscode
node_modules
/PSWebsite/logs
/Build
/DICOMSharpJPEGCompression/dcmtk-3.6.0
/DICOMSharpJPEGCompression/charls-2.0.0
/DICOMSharpJPEGCompression/openjpeg-v2.1.2-windows-x86
/PSWebsite/dist
/PSWebsite/css/*.css
/PSWebsite/js
/PSWebsite/rawjs
/PSWebsite/WebUser.config
/PSWebsite/dicom
/PSWebsite/db
/PSWebsite/publish/*
/PSWebsite/RenderFunctionGenerator/generated.txt
!/PSWebsite/publish/noop.txt
/Samples/DICOMManagerSetup/DICOMManagerSetup/Express
