<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyFreePACS Web Viewer</title>
    <script>
    var releaseBuild = @(Model.Release ? "true" : "false");
    </script>
    @if (Model != null && Model.UserInfo != null)
    {
<script>
var givenUser = {
    username: '@Model.UserInfo.username',
    realname: '@Model.UserInfo.realname',
    access: @((int)Model.UserInfo.access)
};
</script>
    }
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="~/css/app.css" runat="server">
    
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/images/favicons/manifest.json">
    <link rel="mask-icon" href="~/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#51DDFF">
    <meta name="msapplication-TileImage" content="~/images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    @if (Model != null && Model.Release)
    {
        <script type="text/javascript" src="~/js/app.min.js"></script>
    }
    else
    {
        <script type="text/javascript" src="~/js/app.js"></script>
    }
</head>
<body>
</body>
</html>
